#ignoring test_integ_trick.py file
test_integ_trick.py

#ignore graphs folder
/graphs

#ignore pycash and checkpoints files
__pycache__/
.ipynb_checkpoints/

#ignore auxiliary notebooks
Untitled1.ipynb
Untitled.ipynb

#ignore binary saved data
*.npz
