#ignoring test_integ_trick.py file
test_integ_trick.py

#ignore graphs folder
/graphs

#ignore pycash and checkpoints files
__pycache__/
.ipynb_checkpoints/

#ignore auxiliary notebooks
Untitled1.ipynb
Untitled.ipynb
Untitled2.ipynb

#ignore binary saved data
*.npz

#ignore figures
*.png

#ignore data folders and files
/data
/data_elect
/data_positron
parameters.txt
/data1
/data2
/data3
/data4
/data5
/data6
/data7
/data8
/data9
/data10
/data11
/data12
/data13

#ignore article
Ring_of_fire

